/* MessagesComponent's private CSS styles */
h2 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

button.clear {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #eee;
  margin-bottom: 12px;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}
.messages-panel{
    background-color:#2d6096;
    padding: 10px;
    color:#ffffff;
    border-radius: 10px;
    
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all .5s;
    width: 94%;
}